<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="system">  
	<!-- 数据字典表代码值查询 -->
	<select id="queryDictionaryByCode" resultType="distionaryBean" parameterType="java.lang.String">
		select 
			VC_PARENT_CODE as vcParentCode,
			VC_CODE as vcCode,
			VC_NAME as vcName, 
			VC_VALUE as vcValue, 
			DISPLAY_ORDER as displayOrder,
			MEMO as memo
			from TB_BASE_DICTIONARY where VC_CODE=#{value} order by DISPLAY_ORDER
	</select>
	
	<!-- 数据字典表父键查询 -->
	<select id="queryDictionaryByParentCode" resultType="distionaryBean" parameterType="java.lang.String">
		select 
			VC_PARENT_CODE as vcParentCode,
			VC_CODE as vcCode,
			VC_NAME as vcName, 
			VC_VALUE as vcValue, 
			DISPLAY_ORDER as displayOrder,
			MEMO as memo
			from TB_BASE_DICTIONARY 
				where VC_PARENT_CODE=#{value} order by DISPLAY_ORDER
	</select>
	
	<!-- 获取系统数据表主键 -->
	<select id="getTableId" statementType="CALLABLE" parameterType="java.lang.String" resultType="java.lang.String">  
  		<![CDATA[ 
			{ call GetNewID(#{tableName}, 'SN') } 
  		]]>  
	</select>
	
	<!-- 获取系统数据表主键(根据时间算为了不重复) -->
	<select id="getTableLongId" statementType="CALLABLE" parameterType="java.lang.String" resultType="java.lang.String">  
  		<![CDATA[ 
			{ call GetNewIDNEW(#{tableName}, 'SN') } 
  		]]>  
	</select>
</mapper>
